@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/* Estilização global */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #18181b;
}

/* Estilização do header */

header .container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #16a34a;
    width: 400px;
    margin: auto;
}

header img {
    width: 40px;
    margin: 8px 16px 16px 0px;
}

header h1 {
    font-size: 24px;
    font-weight: bold;
    margin: 8px 0 16px 0;
    color: rgb(255, 255, 255);
}

/* Estilização do main */

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
    margin: auto;
    flex-wrap: wrap;
}

main form {
    margin-top: 16px;
    width: 500px;

}

/* Estilização dos input's e button */

.input-contato {
    padding: 0.2rem;
    margin-bottom: 8px;
    background-color: #3f3f46;
    border-radius: 5px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "cont cont"
    "num button";
}

.input-contato #num-contato {
    width: 93%;
    grid-area: num;
}

.input-contato #nome-contato {
    width: 97%;
    grid-area: cont;
}

.input-contato  #nome-contato,
#num-contato {
    background-color: transparent;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    color: #f8fafc;
    padding: 0 0.5rem;
    outline: none;
    margin: 8px;
}

.input-contato #num-contato::-webkit-outer-spin-button,
.input-contato #num-contato::-webkit-inner-spin-button {
    appearance: none;
}

.input-contat #num-contato:focus {
    
}

.input-contato button {
    border: none;
    font-size: 1rem;
    font-weight: bold;
    background-color: #16a34a;
    color: #f8fafc;
    padding: 0.5rem 0;
    border-radius: 8px;
    cursor: pointer;
}

/* Estilização da tabela */

table {
    width: 100%;
    color: #f8fafc;
}

table th {
    border-bottom: 2px solid #16a34a;
    padding: 16px;
    font-size: 18px;
    font-weight: bold;
}

table td {
    text-align: center;
    font-size: 18px;
    padding: 16px 0;
    border-bottom: 1px solid #16a34a36;
}